<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @service_type.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service_type.type %>
</p>

<%= link_to 'Edit', edit_service_type_path(@service_type) %> |
<%= link_to 'Back', service_types_path %>
