<%= form_for(@responsible) do |f| %>
  <% if @responsible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@responsible.errors.count, "error") %> prohibited this responsible from being saved:</h2>

      <ul>
      <% @responsible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br>
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :residencial_number %><br>
    <%= f.text_field :residencial_number %>
  </div>
  <div class="field">
    <%= f.label :comercial_number %><br>
    <%= f.text_field :comercial_number %>
  </div>
  <div class="field">
    <%= f.label :relation_type %><br>
    <%= f.text_field :relation_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
