<%= form_for(@tuition) do |f| %>
  <% if @tuition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tuition.errors.count, "error") %> prohibited this tuition from being saved:</h2>

      <ul>
      <% @tuition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
